<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="48394LukasDiener.InstaTon" Publisher="CN=5360E734-E386-40B8-A705-92BCE4D08C54" Version="1.0.0.0" />
  <Properties>
    <DisplayName>InstaTon</DisplayName>
    <PublisherDisplayName>Lukas Diener</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Easypaint.App">
      <VisualElements DisplayName="InstaTon" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Apply many beautiful effects to your photos." ForegroundText="dark" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>